* {
	margin: 5px;
	padding: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	box-shadow: 5px 5px 15px #000f;
	max-width: 500px;
	padding: 20px;
	border-radius: 20px;
}

p {
	margin: 3px;
}

.card__flag {
	width: 150px;
	box-shadow: 5px 5px 15px #000f;
	border-radius: 50%;
	aspect-ratio: 1;
}
